<!DOCTYPE html>
	<html lang="{{ site.lang | default: "en-US" }}">
		<head>
			<meta charset="utf-8">
			{% seo %}
			<link rel="icon" type="image/png" href="/cat_icon.png"/>
			<link rel="preconnect" href="https://fonts.gstatic.com">
			<link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<meta name="theme-color" content="#157878">
			<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
			<link rel="stylesheet" href="{{ 'assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
			{% include head-custom.html %}
  		</head>
  		<body>
			<a id="skip-to-content" href="#content">Skip to the content.</a>

			<header class="page-header" role="banner">
				<h1>Welcome!</h1>
				<nav>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/about/">About</a></li>
						<li><a href="/thesis/">PhD thesis</a></li>
					</ul>
				</nav>
			</header>

			<main id="content" class="main-content" role="main">
				{{ content }}

				<footer class="site-footer">
					<ul>
						<!-- <li><a href="mailto:lucianostrika44@gmail.com" rel="me"><i class="far fa-envelope"></i></a></li> -->
						<li><a href="https://github.com/LauPM" rel="me"><i class="fab fa-github"></i></a></li>
						<li><a href="https://bsky.app/profile/laupm.bsky.social" rel="me" style="display: inline-block;"><img src="/bluesky-icon.svg" style="width: 12px; height: 12px; vertical-align: middle;"></a></li>
						<li><a href="https://www.linkedin.com/in/laura-p-92ab6630b/" rel="me"><i class="fab fa-linkedin"></i></a></li>
					</ul>
				</footer>
			</main>
  		</body>
</html>
